@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html{
    scroll-behavior: smooth;
}

nav{
    height: 80px;
    display:flex;
    }

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.purple {
    color: #7342d6;;
}

button{
    cursor: pointer;
}

p{
    line-height: 1.5;
}

.container {
    padding:80px 0;
    
}
.row {
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav__logo{
    display: flex;
    align-items: center;
}

.logo{
    width: 40px;
    height:40px;
    display: flex;
}

.title{
    font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    letter-spacing: 0.6px;
    padding-bottom: 2px;
}

ul{
    display: flex;
    align-items: center;
}

li {
    list-style-type: none;
}

.nav__links{
    flex-wrap: wrap;
}

.nav__link {
    margin-left:16px;
    font-size: 14px;
    padding: 16px;
    font-weight:600;
    color: black;
}

.nav__link:hover {
    color: rgb(100, 21, 255);
}

.nav__link--login{
    margin-left:32px
}
.nav__link--primary {
    background-color: #6415ff;
    padding: 8px 20px;
    border-radius: 9999px;
    color:white;
    transition: all 300ms ease;
}

.nav__link--primary:hover {
    text-decoration: none;
}

#landing{
    padding:0 32px;
}


/*

Header

*/

.header__description{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

.header__description--title {
    font-size: 36px;
}

.header__description--para{
    font-size: 16px;
    margin: 32px 0;
}

.header__email {
    position: relative;
    width:100%;
    max-width: 448px;
    height: 68px;
    display:flex;
    justify-content: center;
    align-items: center;

}
.header__email--input{
    border-radius: 500px;
    border: 2px solid rgb(229,231, 235);
    width:100%;
    padding: 20px 192px 20px 32px;
    font-size: 16px;
    z-index: 1;
   }

   .header__email--btn:hover{
    background-color:rgb(60,13, 153); 
   }
.header__email--btn {
    margin:8px;
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    height: calc(100% - 16px);
    color: #fff;
    font-weight: 700;
    font-size:16px;
    z-index: 2;
    position: absolute;
    right: 0;
}

.header__customers--title{
    margin: 80px 0 16px 0;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    

}
.header__customers--logo{
    display: flex;
    width:90%;
    color: #243e63
}


.header__img--wrapper{
   width: 60%;
   overflow: hidden;
   display: flex;
   justify-content:flex-end;
   
}

.header__img{
    max-width: 100%;
}

/* Features */

#features{
padding: 0 68px 0 68px;
}

.row__column{
    display: flex;
    flex-direction: column;
   align-items: center;
}

.section__title{
    font-weight: 700;
    letter-spacing: 1.6px;;
}

.section__sub-title{
    margin: 16px 0px; 
    font-size: 48px;
}
.section__para{
text-align: center;
max-width: 576px;
font-size: 18px;
color: #7c8ba1;
}

.services {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.service{
    display: flex;
    width: calc(100% / 3);
    padding: 32px 24px;
}

.service__img{
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.service__description{
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 16px;
}

.service__para {
    margin: 16px 0 0 0;
    line-height: 2;
    font-size: 16px;
    color: rgb(124, 139, 161);
    font-weight: 500;;
}




/*

QUALITY WORK

*/



#quality {
    padding: 0 32px;
}

.work{
    width:50%;  
    margin: 0 64px 0 0; 
}

.work__title{
    font-size:16px;
    letter-spacing: 1.6px;
}

.work__subtitle {
    padding:16px 0 16px 0;
    font-size: 48px;
}

.work__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}


.work__btn:hover{
    cursor: pointer;
    background-color:rgb(60,13, 153);
    transition: all 300ms ease;
}

.work__btn {
    background-color: #6415ff;
    color:white;
    padding:12px 32px;
    border-radius: 500px;
    border:none;
    font-size: 14px;
    font-weight: bold;
    margin: 32px 0 0;
}

.work__img--wrapper{
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    margin: 0 56px;
}

.work__img{
    max-width: 100%;
    border: 1px solid #243e63;
}


/* STEPS SECTION */

#section{
    padding: 0 32px;
}

.section__img--wrapper{
    width:50%;
    display: flex;
    justify-content: center;
     align-items: center;
    overflow: hidden;

}

.section__img {
    max-width:100%;
  
}

.steps{
    width:50%;
    display: flex;
    flex-direction: column;
   padding: 32px 0 32px 64px;
    }

.steps__title{
    font-size: 16px;
    letter-spacing: 1.6px;
    font-weight: 700;
}

.steps__subtitle {
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0 16px 0;
    color: rgb(36, 62, 99);
}

.steps__list{
    
}

.step {
   display: flex;
   margin: 32px 0 0;
}

.step__number{
    font-size: 36px;
    color:#cbd5e0;
}

.step__title{
    font-size:20px;
    font-weight: 600;
    color: #243e63;
    line-height: 1;
}
.step__para{
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight:500;
    line-height:2;

}
.step__description{
    max-width: 320px;
    margin-left: 24px;
    display: flex;
    flex-direction: column;
}



/* VALUES */




#values{
    padding: 0 32px;
}

.values__description{
    width:50%;
}

.values__description--title{
    font-size: 16px;
    letter-spacing: 1.6px;
}

.values__description--subtitle{
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0 32px 0;
    color: rgb(36, 62, 99);
}

.values__description--para{
 font-size:18px;
 font-weight:500;
 color: #7c8ba1;
 line-height: 1.625;
}

.values__list{
    display: flex;
    margin: 32px 0;
}

.value{
    width:50%;
}

.value__title{
    font-size: 20px;
    color: #243e63;
    margin-bottom: 16px;
}

.value__para{
    font-size: 16px;
    margin: 0 32px 0 0;
    color:#7c8ba1
}

.values__btn:hover{
    cursor: pointer;
    background-color:rgb(60,13, 153);
    transition: all 300ms ease;
}

.values__btn{
    background-color: #6415ff;
    color:white;
    padding:12px 32px;
    border-radius: 500px;
    border:none;
    font-size: 14px;
    font-weight: bold;
    margin: 8px 0 0;
}

.values__img--wrapper{
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.values__img{
    max-width:100%;
}





/* PRICING */


#pricing{
    padding: 0 32px;
}

.pricing__title{
    font-size: 16px;
    letter-spacing: 1.6px;
    font-weight: 700;
}

.pricing__subtitle{
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0 32px 0;
    color: rgb(36, 62, 99);
}

.pricing__para {
    text-align:center;
    max-width: 576px;
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

.plans{
    display:flex;
    justify-content: space-between;
    width: 100%;
}

.plan {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px 32px 0 0;
    border:1px solid rgb(229, 231, 235);
    border-radius: 8px;
    overflow: hidden;
    
}

.plan:nth-child(1) .plan__stripe {
   height:8px;
   width:100%;
    background: linear-gradient(
        115deg, 
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%);

}

.plan:nth-child(3) .plan__stripe {
    height:8px;
    width:100%;
    background: linear-gradient(
        115deg, 
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%);
}

.plan__top,
.plan__middle {
    width: 100%;
   padding: 32px;
   text-align: center;

}

.plan__bottom{ 
    width:100%;
    text-align: center;
    padding:32px 64px;
}

.plan:nth-child(1) .plan__middle,
.plan:nth-child(3) .plan__middle {
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}

.plan:nth-child(2) .plan__middle{
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}

.plan:nth-child(2) {
    background: linear-gradient(
        135deg,
         rgb(76, 81, 191) 0%, 
         rgb(102, 126, 234) 100%);
}

.plan:nth-child(2) .plan__top--name, 
.plan:nth-child(2) .plan__top--price, 
.plan:nth-child(2) .plan__middle--target, 
.plan:nth-child(2) .plan__top--duration, 
.plan:nth-child(2) .plan__middle--feature
 {
    color: rgb(247, 250, 252);
}

.plan__top--name,
.plan__top--price,
.plan__top--duration{
    font-weight: bold;
    line-height: 1.625;;
}
.plan__top--name{
    font-size: 20px;
    color: #1a202c;
}

.plan__top--price{
    font-size:48px;
    margin: 4px 0;
}

.plan__top--duration{
    font-size: 16px;
    color: #a0aec0;
}

.plan__middle--target {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.plan__middle--feature {
    margin-top:20px;
    font-weight: 500;
    color: #718096;
    line-height: 1.5;
    font-size:16px;
}


.plan__btn--1:hover{
    cursor: pointer;
    transform: translate(1px, -1px);
    transition: all 300ms ease;
}
.plan__btn--2:hover{
    cursor: pointer;
    transform: translate(1px, -1px);
    transition: all 300ms ease;
}
.plan__btn--3:hover{
        cursor: pointer;
        transform: translate(1px, -1px);
        transition: all 300ms ease;
    }
.plan__btn--1,
.plan__btn--2,
.plan__btn--3 {
        color:white;
        padding:16px 32px;
        border-radius: 500px;
        border:none;
        font-size: 14px;
        font-weight: bold;
        width:100%;
    }

.plan__btn--1 {
        background: linear-gradient(
            115deg, 
        rgb(56, 178, 172) 0%,
        rgb(129, 230, 217) 100%);
        
    }

 .plan__btn--2{
        color: #6415ff;
        background-color: #eaf3f9;
    }

.plan__btn--3 {
    background: linear-gradient(
        115deg, 
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%);
    }


/*


TESTIMONIALS 


*/

#testimonials {
    padding: 0 32px;
}

.testimonials__img--wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
     align-items: center;
    overflow: hidden;
}

.testimonials__img {
    max-width:100%;
}

.testimonials__description{
    width:50%;
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}

.testimonials__title{
    font-size: 16px;
    letter-spacing: 1.6px;
    font-weight: 700;
}

.testimonials__subtitle{
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0 32px 0;
    color: rgb(36, 62, 99);
}

.testimonials__para {
    max-width: 576px;
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

.testimonial{
    margin-top:40px;
}

.rating i {
color: rgb(246, 173, 85);
margin-right: 2px;
margin-top:4px;
}

.testimonial__title,
.testimonial__name
{
    font-weight: 700;
    color: #243e63;
    font-size: 20px;
    line-height:1.5;

}

.testimonial__title{
    margin-top:16px;
}

.testimonial__para{
    margin:16px 0 40px 0;
    color:#4a5568;
    font-size:16px;
    font-weight:500;
    line-height: 1.625;;
}

.testimonial__bottom{
    display: flex;
   justify-content: space-between;
   align-items: center;
}

.testimonial__profile{
    display: flex;
    align-items: center;
}

.testimonial__img{
    width: 80px;
    height:80px;
    border-radius: 50%;
}

.testimonial__details{
    margin-left:24px;
}

.testimonial__role{
    color: #7c8ba1;
    font-weight:500;
    line-height:1.5;
}

.testimonial__buttons{
    display: flex;
    align-items: center;
}

.testimonial__button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:16px;
    border-radius:50%;
    border:none;
    background-color: #edf2f7;
    margin: 0 12px;
}

.testimonial__button i {
    color: #7342d6;
}

.divider{
    width: 1px;
    height:24px;
    background: rgb(229, 231, 235);
}


/*


Start


*/

#start {
    padding: 0 32px;
}

.start__container{
    padding: 96px 0;
    width:100%;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
}
.start__row{
    display: flex;
   justify-content: center;
   align-items: center;
     padding: 96px 0;
    width:100%;
    background-color: rgb(100, 21, 255);
    width:100%;
    padding: 0 32px;
   }

.start__title{
    color:#f7fafc;
    font-size: 30px;
    font-weight:700;
    line-height: 1.5;
    width:50%;
}

.start__buttons{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.start__btn1,
.start__btn2{
    padding:20px 40px;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    color: #f7fafc;
    margin:1px;
    letter-spacing: 0.025em;
}

.start__btn1 {
   background-color: #f56565;
   margin-right:32px;
   transition: all 300ms;
   border: 1px;
}

.start__btn2{
    background-color:rgb(100, 21, 255); 
    border: 1px solid #f7fafc;
}

main{
    margin-bottom: 96px ;
}
/*

FOOTER


*/

#footer{
    padding: 88px 32px;
    background-color: rgb(100, 21, 255);
}


.footer__row{
    width:100%;
}

.footer__columns{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__column{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 48px;
}

.footer__title{
    font-weight: 700;
    color: #f7fafc;
    line-height: 1.5;
}

.footer__list{
    display: flex;
    flex-direction: column;
 }
 
 .footer__link:hover{
    text-decoration: underline;
    transition: all 300ms ease;
 }
 .footer__link{
    font-weight: 500;
    font-size: 14px;
    color: #f7fafc;
    line-height: 1.5;
    margin-top: 12px;
    cursor: pointer;
 }

 .footer__link:nth-child(1) {
    margin-top: 32px;
 }

 .footer__divider{
    width:100%;
    height: 2px;
    background-color: rgb(116, 44, 255);
    margin: 64px 0;
 }

 .footer__logo{
    display: flex;
    align-items: center;
 }

 .img__logo{
    width:32px;
    height: 32px;
 }

 .footer__bottom{
    width:100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
 }

 .footer__logo--name{
    font-size: 20px;
    color: #f7fafc;
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 0.05em;
 }

 .footer__copyright{
    color: #cbd5e0;
    font-weight: 500;
 }

 .footer__social--link{
    margin-left: 16px;
    padding: 8px;
    background: #f7fafc;
    border-radius: 50%;
    cursor: pointer;
    transition: all 300m
 }

 